
h2{
    /* border:medium inset rgb(84, 87, 78); */
    border-width:medium;
    border-style:inset;
    border-color: rgb(84, 87, 78);
}

div > p{
     /* border-width: 4px 3px 4px 3px; */
     border:4px solid gray; 
     max-width: 100%;
     min-width: 100px;
     max-height: 260px;
     border-radius: 15px;
     padding:5px;
     overflow:scroll;
     box-shadow: 5px 5px 20px ;
}

#nature{
    border:2px double black;
    padding:10px;
    margin:10px;
    max-width: 100%;
}

.list{
    margin:10px;
    padding: 10px;
}

li{
    display: inline;
    margin:5px; 
}

ul{
    background-color: #FBE7C6;
}

