.container{
    display: flex;
    /* flex-direction: column; */
}

#para1{
    flex: 1;
    background-color: rgb(245, 185, 73);
    order: 3; /* it will move the first para in 3rd position */
}

#para2{
    flex: 1;
    background-color: rgb(241, 232, 232);
    order: 1;
}

#para3{
    flex: 1;
    background-color: rgb(89, 233, 89);
}

p{
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
}

.outerbox{
    min-height: 400px;
    display: flex;
    justify-content: flex-end; /* align in main axis*/
    align-items: center; /* align in cross axis*/
    flex-wrap: wrap;
    background-color: rgba(147, 214, 218, 0.404);
    margin: 5px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: teal;
    border: 1px solid black;
    margin: 10px;
}