
div img{
    margin:10px;
}

div p{
   width: 100%;
   text-align: justify;
   line-height: 1.5em;
}

.forest img{
    float: left;
}

.sunset img{
    float: right;
}

.nature img{
    float: none;
}
