
.gradient{
    position: relative;
}

/* LINEAR GRADIENT */
.linear-gradient{
    width: 200px;
    height: 200px;
    /* background: linear-gradient(crimson,rgb(216, 171, 179),rgb(61, 255, 2)); */
    /* background: linear-gradient(to left,blue,red); */
    /* background: linear-gradient(to right,#9AD1D4 20%,blue 60%,red);  */
    background: linear-gradient(45deg,#9AD1D4 20%,#9AD1D4,blue 60%,red);
    position: absolute;
    left: 50px;
    top: 50px;
}

.radial-gradient{
    width: 200px;
    height: 200px;
    position: relative;
    left: 350px;
    top: 50px;
    /* background: radial-gradient(crimson,rgb(216, 171, 179)); */
    background: radial-gradient(#2E765E ,#F1CCD7 ,red);
}

.conic-gradient{
    width: 200px;
    height: 200px;
    position: relative;
    left: 50px;
    top: 60px;
    background: conic-gradient(#4B0082, #0000FF, #00FF00, #FFFF00, #FFA500, #FF0000);
}

.round{
    width: 150px;
    height: 150px;
    border: 2px black solid;
    border-radius: 100px;
    position: inherit;
    left: 50px;
    top: 150px;
    background: radial-gradient(orange 60%,yellow);
}

p{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 500;
}











