
.image_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

div > img{
    max-height: 300px;
    max-width: 300px;
    margin: 10px;
}

@media (max-width:400px) {
    
    .image_container{
        flex-direction: column;
    }

    img{
        width: 150px;
        height: 150px;
    }
}