
h2{
    color: crimson;
}

.para-1{
    background-color: bisque;
}

.para-2{
    background-color: wheat;
}

.para-3{
    background-color: thistle;
}

.responsive p{
    padding: 10px;
    line-height: 1.5em;
}

@media  (min-width:700px){

    .responsive p{
        width: 28%;
        margin: 10px;
        padding: 3px;
        float: left;
        font-size: 20px;
        line-height: 1.0em;
    }

    /*
    By USING FLEX YOU CAN SEE THE DIFFERENCE IN PARA
     .responsive{
        display: flex;
        flex-direction: row;
    }  */

    h2{
        background-color:rgb(134, 153, 172);
        width: 30%;
    }

}