
body{
    background:url("/Images/sunset.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.regform{
    width:400px;
    border:4px solid pink;
    box-shadow: 3px 3px 3px;
    border-radius: 10px;
    /* MAKE IT CENTER OF THE PAGE */
    margin:180px auto 60px; 
    color:antiquewhite;
    padding:20px;
}

.regform h2{
    text-align:center;
    color: #4E0250;
}

.regform .textinput{
    display: block;
    width: 100%;
    font-size: 16px;
    margin:5px 0px 10px;
    padding: 5px 10px;
    /*IT WILL PREVENT THE WON'T BEYOUND THE BORDER*/ 
    box-sizing: border-box;
}

.textinput:focus{
    background-color: #6d286e;
    color: white;
}

.radio{
    margin:15px 0px;
}

.radio input{
    transform: scale(1.0);
    /* WE CAN CHANCE THE SIZE OF RADIO BUTTON SIZE */
    accent-color: #4E0250;
}

.btn{
    text-align: center;
    margin-top: 10px;
}

button{
    font-size: 1.1em;
    background-color: #4E0250;
    color: white;
}