
h2{
    font-family:Georgia, 'Times New Roman', serif;
    font-size:28px;/*DEFAULT 24PX*/
    font-style:oblique;
    text-transform:capitalize;
    letter-spacing:0.1em;
    text-align:center;
}

p:first-letter{
    font-size:24px;
    font-weight:600;
}

p{
    text-indent:25px;
    line-height:1.5em;
    text-align:justify;
}

a{
    text-decoration:none;
    font-weight:bold;
}

a:link{
    color:red;
}

a:hover{
    color:aqua;
}

a:focus{
    color:black;
}
